body {
	margin:0;
	background-color: black;
	font-family: Helvetica Neue,Helvetica,sans-serif;	
}
p {color: #FFFFFF;}
a {color: #FFFFFF;}
.navhdr {
	margin:0px;
	padding:5px;
	height:2em;
}
.container {
	overflow-y:scroll;
	position:absolute;
	top:2em;
	bottom:0px;
	width:100%;
	padding:0px;
	margin:0px;
}
table {
	vertical-align: top;
	display: inline-block;
	border-collapse: collapse;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}
tr {border: 1px solid white;}

.tableRDA {background-color: #006A00;}
.tableRDB {background-color: #6d8044;}
.tableSA  {background-color: #0050EF;}
.tableSB  {background-color: #406080;}
.tableNA  {background-color: #b9522d;}
.tableNB  {background-color: #825a2c;}
.cellstyle1 {border: 1px solid white;}
.navlink {
	cursor:pointer;
	text-decoration: underline;
	/*color:#2c3e50;*/
}